.container {
  margin: var(--space-m) auto;
  /* padding: var(--space-s); */
  width: 100%;
  max-width: 1000px;
}

/* flex */
.flex {
  display: flex;
}
.flex-space-btw {
  justify-content: space-between;
}
.flex-content-start {
  justify-content: flex-start;
}
.flex-content-end {
  justify-content: flex-end;
}
.flex-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.order-last {
  order: 9;
}

/* content */

.intro {
  min-width: 300px;
  min-height: 300px;
  width: 80%;
  padding: 0px;
}

.content-text {
  padding: var(--space-m);
  width: 70%;
  min-height: var(--min-heigh);
}
.content-img {
  padding: var(--space-m);
  width: 30%;
  min-height: var(--min-heigh);
}

/* colori */
.bg-lightblue {
  background-color: lightblue;
}
.bg-skyblue {
  background-color: skyblue;
}
.bg-gold {
  background-color: gold;
}
.bg-green {
  background-color: green;
}
.bg-darkblue {
  background-color: darkblue;
}
.bg-pink {
  background-color: pink;
}
.bg-lightgray {
  background-color: lightgray;
}
.bg-white {
  background-color: white;
}
.bg-tan {
  background-color: tan;
}

/* selectors */

.content-bg:nth-child(odd) {
  background-color: lightgray;
}
.content-bg:nth-child(even) {
  background-color: white;
}
