:root {
  --debug-color: rgba(250, 100, 100, 0.5);
  --space-s: 5px;
  --space-m: 20px;
  --space-l: 40px;
  --min-heigh: 300px;
}

/* generic */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  background-color: var(--debug-color);
  border: 2px dashed black;
  min-height: 10px;
  min-width: 10px;
}

/* margin */

.m-s {
  margin: var(--space-s);
}
.mt-s {
  margin-top: var(--space-s);
}
.mr-s {
  margin-right: var(--space-s);
}
.mb-s {
  margin-bottom: var(--space-s);
}
.ml-s {
  margin-left: var(--space-s);
}
.m-m {
  margin: var(--space-m);
}
.mt-m {
  margin-top: var(--space-m);
}
.mr-m {
  margin-right: var(--space-m);
}
.mb-m {
  margin-bottom: var(--space-m);
}
.ml-m {
  margin-left: var(--space-m);
}
.m-l {
  margin: var(--space-l);
}
.mt-l {
  margin-top: var(--space-l);
}
.mr-l {
  margin-right: var(--space-l);
}
.mb-l {
  margin-bottom: var(--space-l);
}
.ml-l {
  margin-left: var(--space-l);
}

/* padding */

.p-s {
  padding: var(--space-s);
}
.pt-s {
  padding-top: var(--space-s);
}
.pr-s {
  padding-right: var(--space-s);
}
.pb-s {
  padding-bottom: var(--space-s);
}
.pl-s {
  padding-left: var(--space-s);
}
.p-m {
  padding: var(--space-m);
}
.pt-m {
  padding-top: var(--space-m);
}
.pr-m {
  padding-right: var(--space-m);
}
.pb-m {
  padding-bottom: var(--space-m);
}
.pl-m {
  padding-left: var(--space-m);
}
.p-l {
  padding: var(--space-l);
}
.pt-l {
  padding-top: var(--space-l);
}
.pr-l {
  padding-right: var(--space-l);
}
.pb-l {
  padding-bottom: var(--space-l);
}
.pl-l {
  padding-left: var(--space-l);
}
